@import "tailwindcss";
@theme {
      --font-inter: "Inter", sans-serif;
      --text-64:4rem; 
      --text-16:1rem; 
      --text-14:0.875rem;
      --leading-76:4.75rem;
      --color-primary:#4CAF4F;
      --radius-10:0.625rem;
      --max-width-1152:72rem;
      --padding-22:1.375rem;
    }