@import "tailwindcss";
@theme {
      --font-inter: "Inter", sans-serif;
      --text-64:4rem;
      --text-36:2.25rem; 
      --text-16:1rem; 
      --text-14:0.875rem;
      --leading-76:4.75rem;
      --color-primary:#4CAF4F;
      --color-secondary:#F5F7FA;
      --color-title:#4D4D4D;
      --color-body:#717171;
      --radius-10:0.625rem;
      --radius-4:0.25rem;
      --max-width-1152:72rem;
      --padding-22:1.375rem;
    }